{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Aspi.re</h1>
<h3>Django Project</h3>
<br>
{% if user.is_authenticated %}
<a href="{% url 'profile' %}" class="btn btn-dark btn-lg">My Account</a>
{% else %}
<a href="{% url 'login' %}" class="btn btn-dark btn-lg">Login</a>
<a href="{% url 'register' %}" class="btn btn-dark btn-lg">Register</a>
{% endif %}
<br/>
{% endblock content %}
