{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container">
    <form class="form-signin" method="post" action="">
        {% csrf_token %}

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1 class="form-signin-heading">Login</h1>
                <br/>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    {% if form.non_field_errors %}
                    <ul class='form-errors list-unstyled'>
                        {% for error in form.non_field_errors %}
                        <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="username" id="{{ form.username.id_for_label }}" class="form-control"
                           placeholder="Username"
                           required autofocus>
                    <br/>
                </div>
            </div>

            <!--<div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <label for="{{ form.email.id_for_label }}" class="sr-only">Email address</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="email" name="email" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Email address"
                           required
                           autofocus>
                    <br/>
                </div>
            </div>-->

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="password" name="password" id="{{ form.password.id_for_label }}" class="form-control"
                           placeholder="Password"
                           required>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 margin-bottom-10">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <a href="{ url socialauth_begin 'google-auth2' %}">
                        <button class="btn btn-lg btn-danger col-md-12 col-sm-12 col-xs-12" type="button">Login with
                            Google
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 margin-bottom-10">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <a href="{% url 'register' %}">
                        <button class="btn btn-lg btn-dark col-md-12 col-sm-12 col-xs-12" type="button">Register
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock content %}
