{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="container">
    <form class="form-signin" method="post" action="">
        {% csrf_token %}

        <div class="row">

            <div class="col-md-11 col-sm-11">
                <h1 class="form-signin-heading">Register</h1>
                <br/>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    {% if form.non_field_errors %}
                    <ul class='form-errors list-unstyled'>
                        {% for error in form.non_field_errors %}
                        <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="first_name" id="{{ form.first_name.id_for_label }}" class="form-control"
                           placeholder="First Name"
                           required autofocus>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="last_name" id="{{ form.last_name.id_for_label }}" class="form-control"
                           placeholder="Last Name"
                           required autofocus>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="username" id="{{ form.username.id_for_label }}" class="form-control"
                           placeholder="Username"
                           required autofocus>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="email" name="email" id="{{ form.email.id_for_label }}" class="form-control"
                           placeholder="Email address"
                           required
                           autofocus>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="password" name="password" id="{{ form.password.id_for_label }}" class="form-control"
                           placeholder="Password"
                           required>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-offset-2 col-sm-offset-2 col-md-2 col-sm-2">
                    <label for="{{ form.confirm_password.id_for_label }}" class="form-label">Confirm Password</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="password" name="confirm_password" id="{{ form.confirm_password.id_for_label }}"
                           class="form-control" placeholder="Password"
                           required>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    <br/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 margin-bottom-10">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <a href="{ url socialauth_begin 'google-auth2' %}">
                        <button class="btn btn-lg btn-danger col-md-12 col-sm-12 col-xs-12" type="button">Login with
                            Google
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 margin-bottom-10">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <a href="{% url 'login' %}">
                        <button class="btn btn-lg btn-dark col-md-12 col-sm-12 col-xs-12" type="button">Login</button>
                    </a>
                </div>
            </div>

        </div>

    </form>
</div>
{% endblock content %}
